Common/Common.Application/bin/
Common/Common.Application/obj/
Common/Common.Domain/bin/
Common/Common.Domain/obj/
Shop/Shop.Application/bin/
Shop/Shop.Application/obj/
Shop/Shop.Domain/bin/
Shop/Shop.Domain/obj/
Shop/Shop.Infrastructure/bin/
Shop/Shop.Infrastructure/obj/
Shop/Shop.Query/bin/
Shop/Shop.Query/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
.idea
/.vs/KetabKhoob/FileContentIndex
/.vs/KetabKhoob/DesignTimeBuild
/.vs
/Common/Common.Domain/bin/Debug/net8.0
/Common/Common.Domain/obj
